<!doctype html>
<html>

    <head>

        {% if title %}
            <title>TextAnalytics - {{ title }}</title>
        {% else %}
            <title>TextAnalytics</title>
        {% endif %}

    
        <h4><a href="/">Home</a></h4>

        <h1>{{header}}</h1>


        {% block head%}
        {% endblock %}


    </head>


    <body style="font-family:arial, sans-serif">

        {% block body%}
        {% endblock %}
        
    </body>

    <script>
        {% block script%}
        {% endblock %}
    </script>

</html>